<!DOCTYPE html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Error 403</title>
</head>
<body>

<div layout:fragment="content">


    <div class="container text-center">
        <h1>Lo sentimos, parace que ha sucede un error en nuestro servidor.</h1>
        <h2>
            Por favor vuelve a solicitar la acción dentro de unos minutos, si el error persiste contáctese con el administrador.
        </h2>
    </div>

</div>

</body>
</html>